<div class="container" xmlns:display="http://www.w3.org/1999/xhtml">
<h1>Add New Book</h1>
<div class="row">
  <div class="col-md-6">
    <form (ngSubmit)="saveBook()" #bookForm="ngForm">
      <div class="form-group">
        <label for="name">ISBN</label>
        <input type="text" class="form-control" [(ngModel)]="book.isbn" name="isbn" required>
      </div>
      <div class="form-group">
        <label for="name">Title</label>
        <input type="text" class="form-control" [(ngModel)]="book.title" name="title" required>
      </div>
      <div class="form-group">
        <label for="name">Author</label>
        <input type="text" class="form-control" [(ngModel)]="idA"  name="author" required>
      </div>
      <div class="form-group">
        <input type="hidden" class="form-control" [(ngModel)]="book.author" name="author" required>
      </div>
      <div class="form-group">
        <label for="name">Publisher</label>
        <input type="text" class="form-control" [(ngModel)]="book.publisher" name="publisher" required>
      </div>
      <div class="form-group">
        <label for="name">Price</label>
        <input type="number" class="form-control" [(ngModel)]="book.price" name="price" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="!bookForm.form.valid">Save</button>
      </div>
    </form>
  </div>
</div>
</div>
<div class="container">
  <h1>Author Catalogue
    <a [routerLink]="['/author-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
  </h1>
  <h4>Selecciona el autor a añadir al libro o añade uno</h4>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Location</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let author of authors">
      <td>{{ author.name }}</td>
      <td>{{ author.surnames }}</td>
      <td>{{ author.nacionalidad }}</td>
      <td><a class="btn btn-info" (click)=setAutor(author._id)>Seleccionar</a></td>
    </tr>
    </tbody>
  </table>
</div>

